################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sheepscore12/bin/Debug
/sheepscore12/obj
/sheepscore12/publish
/.vs/SheepScore/v15/Server/sqlite3
